.logo-container {
    z-index: 0;
    width: 400px;
    height: 400px;
    opacity: .2;
    position: absolute;
    top: 0;
    right: 8%;
    bottom: 80%;
    left: auto;
    margin: auto;
    animation: spin 2s linear;
  }
  

  
  
   